/*---------------------------------------------------
 	Projekt IET Technikerschule CSS Stylesheet Sebastian Zenger
----------------------------------------------------*/


/* Hiermit wird die Grundeinstellung für die gesamte Seite konfiguriert*/
html
{
	font: normal 16px sans-serif;
	color: #555;
}
/*-------------------------------------------*/

/*Hintergrund für die Webseite*/
body 
{
    background-image: url("Grau_hintergrund.jpg");
}

/*-------------------------------------------*/

/* Entfernt die Punkte bei Listen*/ 
ul, nav
{
	list-style: none;
}
/*-------------------------------------------*/

/* hiermit wird die Trennlinie erstellt*/
hr
{
	width: 150px;
	height: 2px;
	background-color: #960000;
	border: 0;
	margin-bottom: 20px;
	margin-top: 20px;
}
/*-------------------------------------------*/

/* Hiermit werden die Inhalte in allen Sektionen nicht abosulte Positionierung -
	Bewirkt dass die unterschiedlichen Sektionen nicht nebeneinandner stehen*/
section
{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
/*-------------------------------------------*/

/*Abstand der Überschriften zu den Nvigationspunkten*/
section.hero
{
    padding-top: 45px;
}

/*-------------------------------------------*/

/*Einstellungen für h3 Überschriften der Klasse title */
section h3.title
{
	color: #414a4f;
	
	font: bold  'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}
/*-------------------------------------------*/

/*Einstellungen für p in allen Sectionen*/
section p
{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;/* Abstand oben und Untern 0 ; Links und Rechts 20px*/ 
	line-height: 2; /*Abstand zischen den Zeilen*/
}
/*-------------------------------------------*/

/*Hier werden die Einstellungen für die Navigationspunkte gesetzt*/

header nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	/*Hier wird die Positionierung der Navigationspunkte realisiert*/
	padding-top: 25px; 
	padding-right:100px; 
	padding-left:100px; 
}
/*-------------------------------------------*/

/* hier mit wird der abstand zwischen den Punkten im Header geregelt*/
header nav li
{
	margin: 0 20px;
	
}	
/*-------------------------------------------*/
/*Größe der h3 wenn größer als 1000px*/
	section.our-work h3
	{
		font-size: 40px;
		text-align:center;
		font-style: italic; /*Kursiv*/
	}

/*-------------------------------------------*/
/*Einstellungen für meine Flexbox Auflistung der Komponenten*/ 
.flex-container 
{
	
	width: 80%;
	display: flex;
	justify-content: space-between;/* Abstand zwischen den Komponenten*/
	align-items: center;
	color: #414a4f;
	flex-wrap: wrap;
	    
}
/*-------------------------------------------*/
/*Farbliche Unterscheidung von Problem und Lösung*/

.our-work p.problem
{
	color: #960000;
	
}
.our-work p.lösung
{
	color: green;
	
}
/*-------------------------------------------*/
/*Einstellungen für hero h1 wenn größer als 1000px*/
.hero h1
{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
	color:#960000;
	
}
	

/*-------------------------------------------*/ 
/*Hier können spezielle Einstellungen für max 1000pixel rein*/
@media (max-width: 1000px)
{
	
	section.hero h1
	{
		font-size: 40px;
	}
	
	section.our-work h3
	{
		font-size: 25px;
		
	}

	
}


/*-------------------------------------------*/ 
/*Hier können spezielle Einstellungen für max 600pixel rein*/

@media (max-width: 600px)
{

	
	section.hero h1
	{
		font-size: 20px;
	}
	
	
	header h2
	{
		margin-bottom: 15px;
	}
	section.our-work h3
	{
		font-size: 15px;
	}
}








