/*---------------------------------------------------
 	Projekt IET Technikerschule CSS Stylesheet Sebastian Zenger
----------------------------------------------------*/


/* hiermit wird die Grundeinstellungen für die gesamte Seite eingestellt*/
html
{
	font: normal 16px sans-serif;
	color: #555;
}
/*-------------------------------------------*/
/* Entfernt die Punkte bei Listen*/ 
ul, nav
{
	list-style: none;
}
/*-------------------------------------------*/
/* hiermit wird die Trennlinie erstellt*/
hr
{
	width: 150px;
	height: 2px;
	background-color: red;
	border: 0;
	margin-bottom: 20px;
	margin-top: 20px;
}
/*-------------------------------------------*/
/* Hiermit werden die Inhalte in allen Sektionen nicht abosulte Positionierung -Damit die unterschiedlichen Sektionen nicht nebeneinandner stehen*/
section
{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
/*-------------------------------------------*/
/*Abstand der Überschriften zu den Nvigationspunkten*/
section.hero
{
    padding-top: 90px;
}

/*-------------------------------------------*/
/*Einstellungen für h3 Überschriften der Klasse title */
section h3.title
{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold  'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}
/*-------------------------------------------*/
/*Einstellungen für p in allen sectionen*/
section p
{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}
/*-------------------------------------------*/
/*Hier werden die Einstellungen für die Navigationspunkte gesetzt*/
header nav
{
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-basis: 20% ; 
	padding: 35px 100px 0;
}
/*-------------------------------------------*/
/* hier mit wird der abstand zwischen den Punkten im Header geregelt*/
header nav li
{
	margin: 0 20px;
}	
/*-------------------------------------------*/
/*Größe der h3 wenn größer als 1000px*/
	section.our-work h3
	{
		font-size: 40px;
		text-align:center;
		font-style: italic;
	}

/*-------------------------------------------*/
/*Einstellungen für meine Flexbox Auflistung der Komponenten*/ 
.flex-container 
{
	
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
	color: #414a4f;
	flex-wrap: wrap;
	    
}
/*-------------------------------------------*/
/*Farbliche Unterscheidung von Problem und Lösung*/

.our-work p.problem
{
	color: red;
	
}
.our-work p.lösung
{
	color: green;
	
}
/*-------------------------------------------*/
/*Einstellungen für hero h1 wenn größer als 1000px*/
.hero h1
{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
	color:red;
	
}
	

/*-------------------------------------------*/ 
/*Hier können spezielle Einstellungen für max 1000pixel rein*/
@media (max-width: 1000px)
{
	header
	{
		padding: 20px 50px;
	}
	
	section.hero h1
	{
		font-size: 40px;
	}
	
	section.our-work h3
	{
		font-size: 25px;
		
	}

	
}


/*-------------------------------------------*/ 
/*Hier können spezielle Einstellungen für max 600pixel rein*/

@media (max-width: 600px)
{

	
	section.hero h1
	{
		font-size: 20px;
	}
	
	header
	{
		flex-direction: column;		
	}

	header h2
	{
		margin-bottom: 15px;
	}
	section.our-work h3
	{
		font-size: 15px;
	}
}








