/*---------------------------------------------------
 	Projekt IET Technikerschule CSS Stylesheet
----------------------------------------------------*/


/* hiermit wird die Grundeinstellungen für die gesamte Seite eingestellt*/
html{
	font: normal 16px sans-serif;
	color: #555;
}
/* Entfernt die Punkte bei listen*/ 
ul, nav
{
	list-style: none;
}

/* hiermit wird die Trennlinie erstellt*/
hr
{
	width: 150px;
	height: 2px;
	background-color: red;
	border: 0;
	margin-bottom: 20px;
	margin-top: 20px;
}
/* Hiermit werden die inhalte in allen Sektionen nicht abosulte Positionierung -Damit die unterschiedlichen Sektionen nicht nebeneinandner stehen*/
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

section.hero
{
    padding-top: 90px;
}


/* hier werden die Einstellungen vorgenommen für max. 600px Dev"*/
@media (max-width: 600px)
{

	section
	{
		padding: 10px 30px;
		font-size: 10px;
	}
	section.hero h1
	{
		font-size: 35px;
	}
	section.hero h3
	{
		font-size: 25px;
	}
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold  'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

header nav
{
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-basis: 20% ; 
	padding: 35px 100px 0;
}
/* hier mit wird der abstand zwischen den Punkten im Header geregelt*/
header nav li
{
	margin: 0 20px;
	
	
}
/*-------------------------------------------*/ /*Hier können spezielle Einstellungen für max 1000pixel rein*/
@media (max-width: 1000px){
	header
	{
		padding: 20px 50px;
	}
	
	section.hero h3
	{
		font-size: 35px;
	}
	
}


/*-------------------------------------------*/

.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}
/*-------------------------------------------*/

.flex-container {
	
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
	color: #414a4f;
	flex-wrap: wrap;
	    
}

.our-work p.problem
{
	color: red;
	
}
.our-work p.lösung
{
	color: green;
	
}
